/* Reset styles for the body and HTML */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal overflow issues */
}
.non-home {
  background-color: #d6d5da; /* Light gray */
  background-image: url('https://wallpapercave.com/wp/wp2639536.jpg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.home-page {
  background-color: #d6d5da; /* Light gray */
  background-image: none; /* No background image */
}

/* Header styling */
header {
  background-color: #3e4046; 
  color: white;
  padding: 20px;
  text-align: center;
}

/* Container styling */
.container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Ensure containers have some space */
  max-width: 1200px; /* Limit width for better readability */
}

/* Button styling */
button {
  background-color: white;
  color: #0056b3;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e7e6a4; /* Darker blue for hover */
}

/* Footer styling */
footer {
  background-color: #333; /* Dark gray */
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
