.home-container {
    background-image: url('https://images.unsplash.com/photo-1517963628607-235ccdd5476c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzB8fGZpdG5lc3N8ZW58MHx8MHx8fDA%3D'); /* Path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d5da; /* Light gray */
    font-family: Arial, sans-serif;
    color: #fcb228;
    margin: 0;
    padding: 0;
  }
  
  .home-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .home-container p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .content-box {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .content-box button {
    background-color: #fcb228; /* Custom blue */
    color: rgb(13, 51, 73);
    border: none;
    padding: 15px 30px; /* Custom size */
    font-size: 16px;    /* Custom font size */
    margin: 10px;       /* Spacing between buttons */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
